<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{code}}: {{status}}</title>
    <style>img {height:15vw}</style>
</head>
<body>
    <h1>{{code}}</h1>
    <img src="/res/img/error.jpg" />
    <h2>{{status}}</h2>
    <h3>{{{further}}}</h3>
    <h4>Try the <a href="/">home</a> page</h4>
</body>
</html>